.container
  .row
    .col-sm-3
      
      .panel.panel-success
        .panel-heading 
          %p Tasks
        .panel-body
          %ul.nav.nav-pills.nav-stacked
            %li{:role => 'presentation'} 
              %a Только мои
            %li{:role => 'presentation'} 
              %a Все
    .col-sm-9 
      %h1 Home#Index

  .row
    .panel.panel-primary
      .panel-heading
        %p Debug
      .panel-debgug
        =debug params
        =debug flash[:user]
        =debug session[:user_id]